<!-- Piwik -->
<script type="text/javascript">
	var _paq = _paq || [];
	_paq.push(["trackPageView"]);
	_paq.push(["setDocumentTitle", "[+piwikDocumentTitle+]"]);
	[+piwikParams+]
	(function() {
		var u = (("https:" == document.location.protocol) ? "https" : "http") + "://[+piwikURL+]/";
		_paq.push(["setTrackerUrl", u + "piwik.php"]);
		_paq.push(["setSiteId", "[+piwikSiteId+]"]);
		var d = document, g = d.createElement("script"), s = d.getElementsByTagName("script")[0];
		g.type = "text/javascript";
		g.defer = true;
		g.async = true;
		g.src = u + "[+piwikJsName+]";
		s.parentNode.insertBefore(g, s);
	})();
</script>
<noscript><img src="http://piwik.partout.info/piwik.php?idsite=[+piwikSiteId+]&amp;rec=1" style="border:0" alt="" /></noscript>
<!-- End Piwik -->
