<div class="piwik">
	<!-- Piwik -->
	<script type="text/javascript">
		var pkBaseURL = (("https:" == document.location.protocol) ? "https://[+piwikURL+]/" : "http://[+piwikURL+]/");
		document.write(unescape("%3Cscript src='" + pkBaseURL + "[+piwikJsName+]' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
				try {
				var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", [ + piwikSiteID + ]);
						piwikTracker.setDocumentTitle("[+piwikDocumentTitle+]");
						[ + piwikParams + ]
						piwikTracker.trackPageView();
				} catch (err) {}
	</script>
	<noscript><p><img src="http://[+piwikURL+]/piwik.php?idsite=[+piwikSiteID+]" style="border:0" alt="" /></p></noscript>
	<!-- End Piwik Tag -->
</div>
