<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="media/style[+managertheme+]/style.css" />
		<title>[+language.modulename+][+language.modulenoconfigtitle+]</title>
		<style>
			.sectionBody { background: #fff; padding-bottom: 0 }
		</style>
		<script type="text/javascript">function postForm(opcode) {
				document.module.opcode.value = opcode;
				document.module.submit();
			}
		</script>
	</head>
	<body>
		<h1>[+language.modulename+][+language.modulenoconfigtitle+]</h1>
		<div id="actions">
			<ul class="actionButtons">
				<li id="Button3">
					<a href="#" onclick="document.location.href = 'index.php?a=106';"><img src="media/style[+managertheme+]/images/icons/stop.png" alt="" /> [+language.moduleclose+]</a>
				</li>
			</ul>
		</div>
		<div class="sectionHeader">[+language.moduledesc+]</div>
		<div class="sectionBody">
			[+language.modulenoconfigtext+]
		</div>
	</body>
</html>
