<div class="widgetouter[+position+]">
	<div class="widget widget[+position+]">
		<h3 class="widgettitle">[+title+]</h3>
		<iframe style="width: 100% !important; width: 94%; height: [+height+]px" src="[+piwikURL+]/index.php?module=[+module+]&amp;action=[+action+][+columns:ne=``:then=`&amp;columns[]=[+columns+]`+]&amp;moduleToWidgetize=[+moduleToWidgetize+]&amp;actionToWidgetize=[+actionToWidgetize+]&amp;idSite=[+piwikSiteId+]&amp;period=[+period+]&amp;date=[+date+]&amp;disableLink=1" scrolling="auto" frameborder="0" marginheight="0" marginwidth="0"></iframe>
	</div>
</div>
